einops==0.8.1
ipython==8.12.3
ipywidgets==8.1.5
librosa==0.11.0
matplotlib==3.10.1
numpy==2.2.4
pandas==2.2.3
Pillow==11.1.0
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.2
tensorflow==2.19.0
torch==2.0.1+cu118
torchaudio==2.0.2+cu118
torchsummary==1.5.1
torchtext==0.18.0
torchvision==0.15.2+cu118
tqdm==4.67.1
